# Core dependencies
streamlit==1.41.1

# Machine learning and data processing
category_encoders==2.6.4
keras==2.15.0
tensorflow==2.18.0  # Updated to a compatible version
xgboost==2.1.3
scikit_learn==1.6.0

# Data visualization
matplotlib==3.8.0
seaborn==0.13.2
plotly==5.24.1

# Data handling
numpy>=1.21.6, <2.0
pandas>=1.4.0, <2.0

# Mathematical optimization
pulp==2.9.0

# Statistical modeling
statsmodels==0.14.4

# Upgrade pip to avoid compatibility issues
pip>=24.3.1
